<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Agent Portal</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Blinker&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Secret Agent Portal</h1>
    <p><strong>Portal Status:</strong> Online </p>
    <p>#1 <a href="/retrieve">Retrieve and Analyze Data</a>. Connects to Marvel HQ, retrieves data, analyzes it,
        & stores the results.</p>
    <p>#2 <a href="/exfiltrate">Exfiltrate Data</a>. Displays the results of our findings.</p>
    <p>#3 <a href="/self-destruct">Self Destruct</a>. Purges our copy of the data so that it does not fall into
        enemy agent hands.</p>
</body>
</html>